body {
	background: #101327;
	color: #ffffff;
}

.movie-app > .row {
	overflow-x: auto;
	flex-wrap: nowrap;
}
.row{
	display: flex;
	align-items: center;
	margin-top: 4px;
	margin-bottom: 4px;
	background: #181c3f;
}
.logo1{
	float: left;
	color: #ffffff;
  	background-color: transparent;
	height: 50px;
	width: 75px;
	margin-right: 10px;
	align-items: center;
	display: flex;
	position: relative;
	margin-top: 2px;
}
.searchlogo1{
	height: 50px;
	width: 50px;
	float: right;
	display: flex;
	position: relative;
	align-items: center;
}
.form-control{
	width: 350px;
	float: right;
	background-color: #181c3f;
	margin-top: 5px;
}
.col1{
	font-family:'Figtree', sans-serif;
	font-size: 45px;
}